<!doctype html>
<html>
    <body>
    <img src="https://drive.google.com/uc?id=13y2-r4XYya8IipTTdeB94s8mzQzF_xsQ" height=200 >
        <h1>Sciencer AI Management</h1>
        <p> Options:
        <pre>
c &ltname&gt - create intent &ltname&gt
d &ltname&gt - delete intent &ltname&gt
u &ltname&gt - update intent &ltname&gt
g &ltname&gt - describe intent &ltname&gt        
l - list questions
li - list intents
lw - list workspaces
uw - change workspace
        </pre>
        </p>
        <form method="post"> Enter command:<br>
        <input type="text" name="query">
        </form>
        <hr>
        <h3> Watson answer: </h3>
        <pre>
{{p.wat_reply}}
        </pre> 
        <hr>
        <h3> Debug environment </h3>
        <pre>
{{p.reply}}
        </pre>   
    </body>
</html>
