<!doctype html>
<html>
   <body>
      {% if state == -1 %}
          <h1>Hello !</h1>
          <form method="post"> Enter name to start:<br>
              <input type="text" name="query">
          </form>
      {% elif state == -2 %}  
          <h1> {{name}} you have finished the test! </h1>
        
          Your answers were: {{score}}
          <br>
          <form method="post">
              <input type="submit" value="Continue">
          </form>
          <hr>
          {{reply}}
      {% else %}
      <h1> Answer this question: </h1>
      <br>
      <form method="post"> {{question}} <br>
      <img src="https://www.google.com.sg/search?rlz=1C1CHBF_enSG805SG805&biw=1366&bih=662&tbm=isch&sa=1&ei=fZRIW6H7DdmH9QOQ25vIDg&q=science+gif&oq=science+gif&gs_l=img.3..35i39k1j0l9.84562.84562.0.84808.1.1.0.0.0.0.105.105.0j1.1.0....0...1c.1.64.img..0.1.104....0.I4rHlvEHTxw#imgrc=2aXdaKDGpg0DBM:" >
      <input type="text" name="query">
      </form>
      <hr>
      {% if state > 0 %}
          {{ reply }}
      {% endif %}
      {% endif %}
   </body>>
</html>