<!doctype html>
<html>
   <body>
      {% if state == -1 %}
      <!-- Login page -->
      <p><img src="http://www.naturalprogramming.com/images/smilingpython.gif"></p>

          <h1>Hello !</h1>
          <form method="post"> Enter name to start:<br>
              <input type="text" name="query">
          </form>
          
          
      {% elif state == -2 %}
      <!-- Finish test, score page -->  
          <h1> {{name}} you have finished the test! </h1>
        
          Your answers were: {{score}}
          <br>
          <form method="post">
              <input type="submit" value="Continue">
          </form>
          <hr>
          {{reply}}
      {% else %}
      <!--Question page-->
      
      <h1> Answer this question: </h1>
      <br>
      <form method="post"> {{question}} <br>
      <input type="text" name="query">
      </form>
      <hr>
      {% if state > 0 %}
          {{ reply }}
      {% endif %}
      {% endif %}
   </body>
</html>